.header{
  max-width: 880px;
  margin: 45px auto 0px;
}

.header__content {
  max-width: 880px;
  /* height: 74px; */
}

.header__logo {
  max-width: 173px;
  margin-bottom: 41px;
}

.header__line {
  border: 1px solid #545454;
  max-width: 880px;
  margin: 0px auto 0px;
}



@media screen and (max-width: 880px) {

  .header {
    max-width: 700px;
    margin: 45px auto 0px;
  }

    .header__content {
      max-width: 700px;
    }

    .header__logo {
      max-width: 150px;
    }

    .header__line {
      border: 1px solid #545454;
      max-width: 700px;
      margin: 0px auto 0px;
    }
  }


  @media screen and (max-width: 680px) {

    .header{
      max-width: 320px;
      margin: 28px auto 0px;
    }

  .header__content {
    max-width: 320px;
    /* height: 46px; */
  }

  .header__logo {
    max-width: 126px;
    /* height: 24px; */
    margin: 0px 167px 32px 27px;
  }

  .header__line {
    border: 1px solid #545454;
    max-width: 320px;
    margin: 0;
  }
}