.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  display: none;
}

.popup__overlay {
  width: 430px;
  height: 320px;
  margin: 195px auto 0;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 25px 0px #00000026;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup.popup__active {
  display: flex;
}

.popup__close-button {
  max-width: 40px;
  height: 40px;
  position: absolute;
  top: -50px;
  right: -50px;
  border: none;
  background-color: black;
}

.popup__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__icon:hover {
  opacity: 60%;
}

.popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  max-width: 330px;
  margin: 34px 64px 50px 36px;
}

.popup_opened {
  display: flex;
  z-index: 2;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 36px 0px;
}

.popup__target {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.popup__input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.popup__input-error:invalid {
  border-bottom: 1px solid red;
}

.popup__save-button {
  max-width: 358px;
  width: 100%;
  height: 50.15px;
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__save-button:hover {
  opacity: 80%;
}

/* -----------------------------------------MODO TABLET------------------------------------ */

@media screen and (max-width: 880px) {
  .popup__close-button {
    max-width: 30px;
    height: 30px;
  }

  .popup__icon {
    max-width: 30px;
    height: 30px;
  }
}

/* -----------------------------------------MODO CELULAR------------------------------------ */

@media screen and (max-width: 680px) {
  .popup {
    max-width: 100%;
    margin: 123px auto 0px;
  }

  .popup__overlay {
    width: 282px;
    height: 322px;
    margin: 123px 19px 0;
  }

  .popup__close-button {
    max-width: 26px;
    height: 26px;
    top: -35px;
    right: 0px;
  }

  .popup__icon {
    max-width: 26px;
    height: 26px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
    max-width: 238px;
  }

  .popup__save-button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
