.popupprofilepicture {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.popupprofilepicture_opened {
  display: flex;
}

.popupprofilepicture__overlay {
  width: 430px;
  height: 272px;
  margin: 195px auto 0;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 25px 0px #00000026;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popupprofilepicture__close-button {
  max-width: 40px;
  height: 40px;
  position: absolute;
  top: -50px;
  right: -50px;
  border: none;
  background-color: black;
}

.popupprofilepicture__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popupprofilepicture__icon:hover {
  opacity: 60%;
}

.popupprofilepicture__content {
  align-items: baseline;
}

.popupprofilepicture_opened {
  display: flex;
  z-index: 2;
}

.popupprofilepicture__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  text-align: left;
  max-width: 358px;
  margin: 34px 36px 38px 36px;
}

.popupprofilepicture__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 36px 0px;
}

.popupprofilepicture__target {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.popupprofilepicture__input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  outline: none;
}

.popupprofilepicture__input-error:invalid {
  border-bottom: 1px solid red;
}

.popupprofilepicture__save-button {
  max-width: 358px;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  margin: 14px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupprofilepicture__save-button:hover {
  opacity: 80%;
}
